.box {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1920px;
  margin-bottom: 17rem;
  margin-top: 9.125rem;
}

.box-2 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1920px;
  margin-bottom: 3.75rem;
  margin-top: 9.125rem;
}

main {
  margin-top: 120px;
  margin-bottom: 120px;
  color: #E8ECFB;
}

.heading {
  font-size: 3.33rem;
}

.heading a {
  color: #E8ECFB;
  transition: transform .2s; /* Animation */
}

.heading a:hover img {
  transform: scale(5);
}

.heading a img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.125em;
  border-radius: 999px;
  width: 0.8em;
  height: 0.8em;
  -webkit-transition: -webkit-box-shadow .5s,-webkit-transform .5s cubic-bezier(0.25, 1, 0.25, 1);
  transition: -webkit-box-shadow .5s,-webkit-transform .5s cubic-bezier(0.25, 1, 0.25, 1);
  -o-transition: box-shadow .5s,transform .5s cubic-bezier(0.25, 1, 0.25, 1);
  transition: box-shadow .5s,transform .5s cubic-bezier(0.25, 1, 0.25, 1);
  transition: box-shadow .5s,transform .5s cubic-bezier(0.25, 1, 0.25, 1),-webkit-box-shadow .5s,-webkit-transform .5s cubic-bezier(0.25, 1, 0.25, 1);
}

h4 {
  color: #8B949E;
}

.image-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 35px;
  height: auto;
}

.image-item {
  flex: 33.33%;
  padding: 5px;
}

.image-item img {
  border-radius: 25px;
}